  <nb-card>
    <nb-card-body>
      <nb-actions size="small">
        <nb-action icon="nb-home" (click)="mainCategory()"></nb-action>
        <nb-action *ngFor="let bread of breadCrumb">
          <button nbButton size="small" status="info" (click)="onSelectBread(bread)">{{bread.name}}</button>
        </nb-action>
      </nb-actions>
    </nb-card-body>
    <nb-card-footer>
      <button class="btn btn-hero-info btn-demo" *ngIf="!selectedItem" (click)="describeProduct=false; describeMenuCategory = !describeMenuCategory">Menu ekle</button>
      <button class="btn btn-hero-warning btn-demo" *ngIf="selectedItem" (click)="describeProduct=false; describeMenuCategory = !describeMenuCategory">Kategori ekle</button>
      <button class="btn btn-hero-success btn-demo" *ngIf="selectedItem" (click)="describeMenuCategory=false; describeProduct = !describeProduct">Ürün ekle</button>
    </nb-card-footer>
  </nb-card>

  <nb-card *ngIf="describeMenuCategory">
    <nb-card-body>
      <form (ngSubmit)="saveMenuCategory()" #itemForm="ngForm" autocomplete="nope" >

        <div class="form-group row">
          <label for="input-menuName" class="col-sm-3 col-form-label">Ad</label>
          <div class="col-sm-9">
            <input nbInput [(ngModel)]="item.name" #menuName="ngModel" name="menuName" id="input-menuName"
                   placeholder="Ad" class="form-control" autofocus fullWidth>
          </div>
        </div>

        <div class="form-group row">
          <label for="input-menuDescription" class="col-sm-3 col-form-label">Açıklama</label>
          <div class="col-sm-9">
            <input nbInput [(ngModel)]="item.description" #menuDescription="ngModel" name="menuDescription" id="input-menuDescription"
                   placeholder="Açıklama" class="form-control" fullWidth>
          </div>
        </div>

        <div class="form-group row">
          <label for="input-menuImage" class="col-sm-3 col-form-label">İkon</label>
          <div class="col-sm-9">
            <input nbInput [(ngModel)]="item.image" #menuImage="ngModel" name="menuImage" id="input-menuImage"
                   placeholder="İkon" class="form-control" fullWidth>
          </div>
        </div>

        <button type="submit" class="btn btn-success" fullWidth>
          Kaydet
        </button>

        <button type="reset" class="btn btn-danger" (click)="onReset()" fullWidth>
          İptal Et
        </button>
      </form>
    </nb-card-body>
  </nb-card>

  <nb-card *ngIf="describeProduct">
    <nb-card-body>
      <form (ngSubmit)="saveProduct()" #prodForm="ngForm" autocomplete="nope" >

        <div class="form-group row">
          <label for="input-itemName" class="col-sm-3 col-form-label">Ad</label>
          <div class="col-sm-9">
            <input nbInput [(ngModel)]="item.name" #itemName="ngModel" name="itemName" id="input-itemName"
                   placeholder="Ad" class="form-control" autofocus fullWidth>
          </div>
        </div>

        <div class="form-group row">
          <label for="input-itemDescription" class="col-sm-3 col-form-label">Açıklama</label>
          <div class="col-sm-9">
            <input nbInput [(ngModel)]="item.description" #itemDescription="ngModel" name="itemDescription" id="input-itemDescription"
                   placeholder="Açıklama" class="form-control" fullWidth>
          </div>
        </div>

        <div class="form-group row">
          <label for="input-itemPrice" class="col-sm-3 col-form-label">Fiyat</label>
          <div class="col-sm-9">
            <input nbInput [(ngModel)]="item.price" #itemPrice="ngModel" name="itemPrice" id="input-itemPrice"
                   placeholder="Fiyat" class="form-control" fullWidth>
          </div>
        </div>

        <div class="form-group row">
          <label for="input-itemCalorie" class="col-sm-3 col-form-label">Kalori</label>
          <div class="col-sm-9">
            <input nbInput [(ngModel)]="item.calories" #itemCalorie="ngModel" name="itemCalorie" id="input-itemCalorie"
                   placeholder="Kalori" class="form-control" fullWidth>
          </div>
        </div>

        <div class="form-group row">
          <label for="input-itemPrepareTime" class="col-sm-3 col-form-label">Hazırlanma Süresi</label>
          <div class="col-sm-9">
            <input nbInput [(ngModel)]="item.prepareTime" #itemPrepareTime="ngModel" name="itemPrepareTime" id="input-itemPrepareTime"
                   placeholder="Hazırlanma Süresi" class="form-control" fullWidth>
          </div>
        </div>

        <div class="form-group row">
          <label for="input-itemVideoUrl" class="col-sm-3 col-form-label">Video Linki</label>
          <div class="col-sm-9">
            <input nbInput [(ngModel)]="item.videoUrl" #itemVideoUrl="ngModel" name="itemVideoUrl" id="input-itemVideoUrl"
                   placeholder="Video Linki" class="form-control" fullWidth>
          </div>
        </div>

        <button type="submit" class="btn btn-success" fullWidth>
          Kaydet
        </button>

        <button type="reset" class="btn btn-danger" (click)="onReset()" fullWidth>
          İptal Et
        </button>
      </form>

      <div class="form-group row">
        <label for="input-itemImage" class="col-sm-3 col-form-label">Resim</label>
        <div class="col-sm-9">
          <input type="file" [(ngModel)]="image" #itemImage="ngModel" name="itemImage" id="input-itemImage"
                 placeholder="Resim" class="form-control" (change)="readUrl($event)" fullWidth>
          <button type="button" class="btn btn-success" (click)="addImage(item.id)" fullWidth>
            Gönder
          </button>
        </div>
      </div>

      <ng-container *ngFor="let image of savedImages">
        <div class="row" [id]="image.mediaGuid">
          <div class="col-8">
            <img [src]="image.mediaLink.replace('%s','100x100')" />
          </div>
          <div class="col-4">
            <button class="btn btn-danger" (click)="onImageDelete(image)">Sil</button>
          </div>
        </div>
      </ng-container>
    </nb-card-body>
  </nb-card>

  <ng-container *ngFor="let item of items">
    <nb-card *ngIf="!describeProduct && !describeMenuCategory" id="{{item.id}}">
      <nb-card-body >
        <div class="row">
          <div class="col-8" (click)="onSelect(item)">
            <i class="{{item.image}}"></i> {{item.name}}
          </div>
          <div class="col-2">
            <button class="btn btn-success" (click)="onUpdate(item)">Düzenle</button>
          </div>
          <div class="col-2">
            <button class="btn btn-danger" (click)="onDelete(item)">Sil</button>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </ng-container>
