<toaster-container [toasterconfig]="config"></toaster-container>
<nb-card>
  <nb-card-header>
    İşletme Tanımlama
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onEditConfirm($event)"
                     (createConfirm)="onCreateConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>


    <!--nb-card>
      <nb-card-header>İşletme Tanımlama</nb-card-header>
      <nb-card-body>

        <form (ngSubmit)="saveVenue()" #form="ngForm" autocomplete="nope" >

          <div class="form-group row">
            <label for="input-venueName" class="col-sm-3 col-form-label">İşletme Adı</label>
            <div class="col-sm-9">
              <input nbInput [(ngModel)]="venue.venueName" #venueName="ngModel" name="venueName" id="input-venueName"
                     placeholder="İşletme Adı" class="form-control" autofocus fullWidth>
            </div>
          </div>

          <div class="form-group row">
            <label for="input-foursquareId" class="col-sm-3 col-form-label">Foursquare Id</label>
            <div class="col-sm-9">
              <input nbInput [(ngModel)]="venue.foursquareId" #foursquareId="ngModel" name="foursquareId" id="input-foursquareId"
                     placeholder="Foursquare Id" class="form-control" fullWidth>
            </div>
          </div>

          <div class="form-group row">
            <label for="input-foursquareToken" class="col-sm-3 col-form-label">Foursquare Auth Token</label>
            <div class="col-sm-9">
              <input nbInput [(ngModel)]="venue.foursquareToken" #foursquareToken="ngModel" name="foursquareToken" id="input-foursquareToken"
                     placeholder="Foursquare Auth Token" class="form-control" fullWidth>
            </div>
          </div>

          <div class="form-group row">
            <label for="input-venueImage" class="col-sm-3 col-form-label">İşletme Resmi</label>
            <div class="col-sm-9">
              <input nbInput [(ngModel)]="venue.venueImage" #venueImage="ngModel" name="venueImage" id="input-venueImage"
                     placeholder="İşletme Resmi" class="form-control" fullWidth>
            </div>
          </div>

          <button nbButton status="success" fullWidth>
            Tanımla
          </button>
        </form>

        <button (click)="makeToast()">Göster</button>


      </nb-card-body>
    </nb-card-->
