@import '../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';


@include nb-install-component() {

  /deep/ nb-layout-header {
    & > nav {
      height: 70px !important;
      background-color: black !important;

      display: -webkit-flex;
      display: flex;

      -webkit-justify-content: center;
      justify-content: center;

      -webkit-align-items: center;
      align-items: center;

      width: 100%;

      & > h1 {
        color: white;
      }
    }
  }

  /deep/ nb-card-body {
    padding: 0.7rem;
  }

  /deep/ nb-layout-column {
    padding: 2rem 0 0 0 !important;
  }

}
