<nb-layout>

  <nb-layout-header fixed>
      <img src="../../assets/images/allesta.jpeg" class="rounded" style="height: 100px; width: 100px;"
           alt="Alleste Plus" /> &nbsp;
      <h1>Allesta Plus</h1>
  </nb-layout-header>

  <nb-layout-column>
    <nb-card>
      <nb-card-body>
        <nb-actions size="small">
          <nb-action icon="nb-home" (click)="mainCategory()"></nb-action>
          <nb-action *ngFor="let bread of breadCrumb">
            <button nbButton size="xsmall" status="info" (click)="onSelectBread(bread)">{{bread.name}}</button>
          </nb-action>
        </nb-actions>
      </nb-card-body>
    </nb-card>

    <nb-card *ngFor="let item of items" (click)="onSelect(item)">
      <nb-card-body *ngIf="item.itemType!=='PRODUCT'">
        <i class="{{item.image}}"></i> {{item.name}}
      </nb-card-body>

      <nb-card-body *ngIf="item.itemType==='PRODUCT'">
        <div class="card flex-md-row mb-4 h-md-250" style="border: 0px !important;">
          <img class="card-img-right flex-auto d-none d-md-block" alt="{{item.name}}" style="width: 75px; height: 75px;" src="{{item.image}}" data-holder-rendered="true">
          <div class="card-body d-flex flex-column align-items-start">
            <h3 class="mb-0">
              {{item.name}}
            </h3>
            <p class="card-text mb-auto">{{item.description}}</p>
          </div>
        </div>
      </nb-card-body>
    </nb-card>

  </nb-layout-column>

  <nb-layout-footer fixed>
    İşletmenizde online menu istiyorsanız arayın &nbsp; <a href="tel:+905330862424"> +90(533) 086 24 24 </a>
  </nb-layout-footer>
</nb-layout>
